@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html , body {
    background-color: lightgray;
}

header {
    background-color: grey;
}

h1 {
    padding: 10px;
    text-align: center;
}

#icon-menu {
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

#icon-menu:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(81, 81, 81);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

menu a:hover {
    background-color: rgb(170, 169, 169);
}

main {
    width: 90vw;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}