/* Todas as Mídias */

/* Typical Device Breakpoints 
    Pequenas Telas: até 600px
    Celular: 600px até 768px
    Tablet: 768px até 992px
    Desktop: 922px até 1200px
    Grandes Telas: 1200px acima */

@media print { /* Impressão */ 
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        width: 50vw;
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

#cell { display: none;}
#tablet { display: none; }
#impress { display: none; }
#pc { display: none; }
#tv { display: none; }
}

@media screen and ( min-width: 768px ) and (max-width: 992px ) { /* Tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

#cell { display: none;}
#tablet { display: block; }
#impress { display: none; }
#pc { display: none; }
#tv { display: none; }
}

@media screen and ( min-width: 992px ) and ( max-width: 1200px ) { /* Desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

#cell { display: none;}
#tablet { display: none; }
#impress { display: none; }
#pc { display: block; }
#tv { display: none; }
}

@media screen and ( min-width: 1200px ) { /* Tela Grande */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #cell { display: none;}
    #tablet { display: none; }
    #impress { display: none; }
    #pc { display: none; }
    #tv { display: block; }
}